* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: rgb(72, 234, 166);
}


.grid {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    background-color: white;

}

form {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    align-items: center;



}

form .prioridad1 {
    margin-top: 10px;
    margin: 10px;
    margin-left: 90px;
}